certifi==2019.3.9
chardet==3.0.4
idna==2.8
imutils==0.5.2
joblib==0.13.2
numpy==1.16.4
opencv-contrib-python==3.4.4.19
opencv-python==3.4.7.28
picamera==1.13
Pillow==6.0.0
pkg-resources==0.0.0
pyzmq==18.0.1
requests==2.22.0
urllib3==1.25.3
zmq==0.0.0
